html,
body {
	height: 100%;
	margin: 0px;
	font-family: 'Arvo', serif;
}
.half {
	height: 100%;
	width: 50%;
	background-color: black;
	position: absolute;
}

.half:hover {
	width: 100%;
	z-index: 10;
}

#night {
	background-color: black;
	left: 0px;
	transition: .3s;
	text-align: center;
	z-index: 5;
}

#night:hover + #day {
	z-index: 0;
}
#day {
	background-color: white;
	right: 0px;
	transition: .3s;
	text-align: center;
	z-index: 6;
}

.content {
	position: relative;
	margin: 0px auto;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
}
.night {
	color: white;
}

.day {
	color: black;
}

.dark:hover {
	color: orange;
}

.light:hover {
	color: #5ACBDE;
}

.list-item {
	transition: .3s;
	cursor: pointer;
}
/*
#night:hover {
	background-color: black;
	width: 100%;
	z-index: 10;
}

#day:hover {
	background-color: white;
	width: 100%;
	z-index: 10;
} 
*/
